<html>

<head>
    <title>Muhammad Gill's Web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  load libs -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- <link rel="stylesheet" href="../lib/bootstrap.min.css">     -->
    <link rel="stylesheet" href="../lib/w3.css">

    <script type="text/javascript" src="../lib/jquery-1.12.4.min.js"></script>
    <!-- <script type="text/javascript" src="../lib/clipboard.min.js"></script> -->

    <!--   load styles -->
    <!--  <link rel="stylesheet" href="../css/contactbanner.css"> -->
    <link rel="stylesheet" href="../css/form.css">
    <!--  <link rel="stylesheet" href="../css/contactForm.css">    -->
    <link rel="stylesheet" href="../css/Navigator.css">
    <link rel="stylesheet" href="../css/Site.css">
    <!--  <link rel="stylesheet" href="../css/snackbar.css"> -->

    <!--   load my scripts -->
    <script type="text/javascript" src="../scripts/Navigator.js"></script>
    <script type="text/javascript" src="../scripts/generalScripts.js"></script>

    <!--  load security certificate -->
    <script type="text/javascript" src="https://www.mcafeesecure.com/rpc/ajax?do=tmjs-visit&amp;siteId=5403619&amp;rand=1527444582275"></script>
</head>

<body class="w3-light-grey">
    <title>Muhammad Gill's Web</title>
    <!-- snackbar (toaster) -->
    <div id="snackbar"></div>

    <!-- Navigator -->
    <div class="IconNavigator" id="Navigator" title="Navigate">
        <a href="/introduction" title="Introduction" class="circleIcon1" style="background-color: gray; transform: translate(-125px, 0px);">
            <i style="padding-top: 20%;" class="fa fa-user fa-2x"></i>
        </a>
        <a href="/education" title="Education" class="circleIcon2" style="background-color: gray; transform: translate(-105px, 60px);">
            <i style="padding-top: 20%;" class="fa fa-graduation-cap fa-2x"></i>
        </a>
        <a href="/experience" title="Experience and Side Projects" class="circleIcon3" style="background-color: gray; transform: translate(-60px, 105px);">
            <i style="padding-top: 20%;" class="fa fa-code fa-2x"></i>
        </a>
        <a href="/contact" title="Contact" class="circleIcon4" style="background-color: gray; transform: translate(0px, 125px);">
            <i style="padding-top: 20%;" class="fa fa-envelope-o fa-2x"></i>
        </a>
        <a class="mask2 w3-blue">
            <i style="padding-top: 20%;" class="fa fa-home fa-3x"></i>
        </a>
    </div>

    <!--  security certificate -->
    <div class="trustedsite-floating-element" id="trustedsite-23a7b7ec59c948e0a5fed823ce15ee0d-image" style="position: fixed; width: 100px; overflow: hidden; bottom: 0px; right: -56px; margin: 0px !important; padding: 0px !important; border: 0px !important; background: none !important; max-width: none !important; max-height: none !important; height: 40px !important; z-index: 1000003 !important; cursor: pointer !important;">
        <img src="//cdn.ywxi.net/tm/img/float2-right.png?h=mgill.info&amp;d=20180527" width="100" height="40" style="margin:0 !important;padding:0 !important;border:0 !important;background:none !important;max-width:none !important;max-height:none !important;width:100px !important;height:40px !important;"
            alt="McAfee SECURE">
    </div>
    <img id="trustedsite-23a7b7ec59c948e0a5fed823ce15ee0d-image-bg" src="//cdn.ywxi.net/static/img/tm-float-bg-right-bottom.png"
        alt="McAfee SECURE" class="trustedsite-floating-element" style="width: 100px; right: -56px; margin: 0px !important; padding: 0px !important; border: 0px !important; background: none !important; max-width: none !important; max-height: none !important; position: fixed !important; height: 40px !important; z-index: 1000002 !important; bottom: 0px !important; display: none;">
    <div class="trustedsite-floating-element" style="z-index: 1000001; position: fixed; right: 0px; bottom: 0px; border-top-left-radius: 3px; margin: 0px !important; padding: 0px !important; border: 0px !important; max-width: none !important; max-height: none !important; width: 36px !important; height: 40px !important; background: rgb(255, 255, 255) !important; opacity: 0.7 !important;"></div>

    <!-- footer -->

    <footer id="footer" class="w3-container w3-blue w3-center">
        <i onclick="openInNewTab('https://www.linkedin.com/in/mhgill/')" title="LinkedIn Profile" style="padding-right:10px;" class="fa fa-linkedin fa-3x w3-hover-opacity"></i>
        <i onclick="openInNewTab('https://github.com/mhgill')" title="Github Profile" style="padding-right:10px;" class="fa fa-github fa-3x w3-hover-opacity"></i>

        <a href="mailto:mhgill1997@gmail.com">
            <i class="fa fa-google fa-3x w3-hover-opacity clip" data-clipboard-text="mhgill1997@gmail.com" title="Gmail Profile" style="padding-right:12px;"></i>
        </a>
        <a href="mailto:mhgill@edu.uwaterloo.ca">
            <i class="fa fa-envelope fa-3x w3-hover-opacity clip" data-clipboard-text="mhgill@edu.uwaterloo.ca" title="Contact Email"
                style="padding-right:10px;"></i>
        </a>

        <i onclick="openInNewTab('https://github.com/mhgill/Resume/blob/master/mgill_resume.pdf')" class="fa fa-address-card fa-3x w3-hover-opacity clip"
            title="CV/Resume"></i>
    </footer>

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">
        <div class="w3-row-padding">
            <div style="padding-bottom:60px;margin: 0% auto;">
                <!-- Main Card -->
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey" style="text-align:center">
                        <i class="fa fa-envelope fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Contact Me </h2>
                   <!--  <form action="mail" method="post">
                        <label for="subject">Enter subject: </label>
                        <input id="subject" type="text" name="subject">
                        <label for="body">Enter body: </label>
                        <input id="body" type="text" name="body">
                        <input type="submit" value="OK">
                    </form>-->

                        <form class="form-style-10" action="mail" method="post">
                            <i class="fa fa-id-card"></i><input maxlength="50" required minlength="2" class="nameinput" id="name" name="name" placeholder="Name/Organization" size="40" type="text" />
                            <br><i class="fa fa-envelope"></i><input maxlength="50" required minlength="7" class="emailinput" id="email" name="email" placeholder="Email" size="40" type="text" aria-required="true" />
                            <br><i class="fa fa-phone"></i> <input maxlength="12" class="nameinput" id="phone" name="phone" placeholder="Phone Number" type="text" />
                            <br> <i class="fa fa-asterisk"></i><select class="indent" aria-required="true" name="typeOfMail" aria-invalid="false">
                                <option value="General">General</option>
                                <option value="appointment">Appointment/Meeting</option>
                            </select>
                            <br><i class="fa fa-envelope-open"></i><textarea cols="40" rows="10" name="message" aria-invalid="false" placeholder="Message"></textarea>
                            <br><input type="submit" value="Send" title="Send" class="btn w3-blue">
                        </form> 
                </div>
            </div>
        </div>
    </div>

</body>

</html>