<html>

<head>
    <title>Muhammad Gill's Web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  load libs -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- <link rel="stylesheet" href="../lib/bootstrap.min.css">     -->    
    <link rel="stylesheet" href="../lib/w3.css">

    <script type="text/javascript" src="../lib/jquery-1.12.4.min.js"></script>
    <!-- <script type="text/javascript" src="../lib/clipboard.min.js"></script> -->

    <!--   load styles -->
   <!--  <link rel="stylesheet" href="../css/contactbanner.css"> -->
    <link rel="stylesheet" href="../css/form.css">
   <!--  <link rel="stylesheet" href="../css/contactForm.css">    --> 
    <link rel="stylesheet" href="../css/Navigator.css">
    <link rel="stylesheet" href="../css/Site.css">
   <!--  <link rel="stylesheet" href="../css/snackbar.css"> -->

    <!--   load my scripts -->
    <script type="text/javascript" src="../scripts/Navigator.js"></script>
    <script type="text/javascript" src="../scripts/generalScripts.js"></script>

    <!--  load security certificate -->
    <script type="text/javascript" src="https://www.mcafeesecure.com/rpc/ajax?do=tmjs-visit&amp;siteId=5403619&amp;rand=1527444582275"></script>
</head>

<body class="w3-light-grey">
    <title>Muhammad Gill's Web</title>
    <!-- snackbar (toaster) -->
    <div id="snackbar"></div>

    <!-- Navigator -->
    <div class="IconNavigator" id="Navigator" title="Navigate">
        <a href="/introduction" title="Introduction" class="circleIcon1" style="background-color: gray; transform: translate(-125px, 0px);">
            <i class="fa fa-user fa-2x"></i>
        </a>
        <a href="/education" title="Education" class="circleIcon2" style="background-color: gray; transform: translate(-105px, 60px);">
            <i class="fa fa-graduation-cap fa-2x"></i>
        </a>
        <a href="/experience" title="Experience and Side Projects" class="circleIcon3" style="background-color: gray; transform: translate(-60px, 105px);">
            <i class="fa fa-code fa-2x"></i>
        </a>
        <a href="/contact" title="Contact" class="circleIcon4" style="background-color: gray; transform: translate(0px, 125px);">
            <i class="fa fa-envelope-o fa-2x"></i>
        </a>
        <a class="mask2 w3-blue">
            <i class="fa fa-home fa-3x"></i>
        </a>
    </div>

    <!--  security certificate -->
    <div class="trustedsite-floating-element" id="trustedsite-23a7b7ec59c948e0a5fed823ce15ee0d-image" style="position: fixed; width: 100px; overflow: hidden; bottom: 0px; right: -56px; margin: 0px !important; padding: 0px !important; border: 0px !important; background: none !important; max-width: none !important; max-height: none !important; height: 40px !important; z-index: 1000003 !important; cursor: pointer !important;">
        <img src="//cdn.ywxi.net/tm/img/float2-right.png?h=mgill.info&amp;d=20180527" width="100" height="40" style="margin:0 !important;padding:0 !important;border:0 !important;background:none !important;max-width:none !important;max-height:none !important;width:100px !important;height:40px !important;"
            alt="McAfee SECURE">
    </div>
    <img id="trustedsite-23a7b7ec59c948e0a5fed823ce15ee0d-image-bg" src="//cdn.ywxi.net/static/img/tm-float-bg-right-bottom.png"
        alt="McAfee SECURE" class="trustedsite-floating-element" style="width: 100px; right: -56px; margin: 0px !important; padding: 0px !important; border: 0px !important; background: none !important; max-width: none !important; max-height: none !important; position: fixed !important; height: 40px !important; z-index: 1000002 !important; bottom: 0px !important; display: none;">
    <div class="trustedsite-floating-element" style="z-index: 1000001; position: fixed; right: 0px; bottom: 0px; border-top-left-radius: 3px; margin: 0px !important; padding: 0px !important; border: 0px !important; max-width: none !important; max-height: none !important; width: 36px !important; height: 40px !important; background: rgb(255, 255, 255) !important; opacity: 0.7 !important;"></div>

    <!-- footer -->

    <footer id="footer" class="w3-container w3-blue w3-center">
        <i onclick="openInNewTab('https://www.linkedin.com/in/mhgill/')" title="LinkedIn Profile" style="padding-right:10px;" class="fa fa-linkedin fa-3x w3-hover-opacity"></i>
        <i onclick="openInNewTab('https://github.com/mhgill')" title="Github Profile" style="padding-right:10px;" class="fa fa-github fa-3x w3-hover-opacity"></i>

        <a href="mailto:mhgill1997@gmail.com">
            <i class="fa fa-google fa-3x w3-hover-opacity clip" data-clipboard-text="mhgill1997@gmail.com" title="Gmail Profile" style="padding-right:12px;"></i>
        </a>
        <a href="mailto:mhgill@edu.uwaterloo.ca">
            <i class="fa fa-envelope fa-3x w3-hover-opacity clip" data-clipboard-text="mhgill@edu.uwaterloo.ca" title="Contact Email"
                style="padding-right:10px;"></i>
        </a>

        <i onclick="openInNewTab('https://github.com/mhgill/Resume/blob/master/mgill_resume.pdf')" class="fa fa-address-card fa-3x w3-hover-opacity clip"
            title="CV/Resume"></i>
    </footer>

    <!-- Page Container -->
     <!-- Page Container -->
     <div class="w3-content w3-margin-top" style="max-width:1400px;">

            <!-- The Grid -->
            <div class="w3-row-padding">
    
                <!-- Left Column -->
                <div class="w3-third" style="padding-bottom:60px;">
                    <div class="w3-white w3-text-grey w3-card-4">
                        <div class="w3-display-container">
                            <img style="padding-top:5%;position:relative;max-height:250px;left:22%;" src="../images/uw.png" alt="Avatar">
                            <br />
                            <br />
                            <div class="w3-display-bottomleft w3-container w3-text-black">
                                <h2>University of Waterloo</h2>
                            </div>
                            <hr />
                        </div>
                        <div class="w3-container">
                            <a href="https://github.com/mhgill/Resume/blob/master/mgill_resume.pdf"><i class="fa fa-address-card fa-fw w3-margin-right w3-large w3-text-blue"></i>Resume / CV</a>
                            <h5><i class="fa fa-cogs fa-fw w3-margin-right w3-large w3-text-blue"></i>Computer Engineering</h5>
                            <h5><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-large w3-text-blue"></i>April, 2020</h5>
                            <hr>
                            <h5 class="w3-large"><b><i class="fa fa-book fa-fw w3-margin-right w3-text-blue"></i>Theoretical Skills</b></h5>
                            <h5>Circuits</h5>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:85%">85%</div>
                            </div>
                            <h5>Algorithms</h5>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:88%">88%</div>
                            </div>
                            <h5>Data Management/Structures</h5>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:87%">87%</div>
                            </div>
                            <h5>Logic and Computation</h5>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:92%">92%</div>
                            </div>
                            <h5>Multithreading and Concurrency</h5>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:94%">94%</div>
                            </div>
                            <hr />
                        </div>
                    </div><br>
                    <!-- End Left Column -->
                </div>
                <!-- Right Column -->
                <div class="w3-twothird" style="padding-bottom:60px;">
    
                    <div class="w3-container w3-card w3-white w3-margin-bottom">
                        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>@ViewBag.Title </h2>
                        <div class="w3-container">
                            <h4 class="w3-opacity"><b>University of Waterloo - Computer Engineering </b></h4>
                            <h5 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September, 2015 - <span class="w3-tag w3-blue w3-round">Current</span></h5>
                            <p>
                                The reason I accepted my invitation to the prestigous
                                Computer Engineering program at UWaterloo is bacause the
                                COOP program boasts
                                the largest student participation rate in the
                                world [1] and also because of the reputation that
                                UWaterloo holds in the Computer/Software world...
                                or maybe because
                                tuition fees at American institutions were a bit daunting.<br />
                                <cite class="text-muted text-right text-bold"> [1] - engineerthefuture.ca</cite>
                            </p>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h4 class="w3-opacity"><b>Erindale Secondary School</b></h4>
                            <h5 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September, 2011 - June 2015</h5>
                                Graduated HighSchool! Is this an achivement worth getting excited for? (you might ask).
                                Well, It is for me! <br />
                            <p style="font-style: italic;">"My best days were my highschool days"</p>
                            <cite class="text-muted text-right text-bold"> - Gill</cite>
                            
                            <br>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h4 class="w3-opacity"><b>Software Development</b></h4>
                            <h5 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>February, 2011 - <span class="w3-tag w3-blue w3-round">Current</span></h5>
                            <p>
                                I continue to learn more and more about software development, different frameworks, architectures,
                                concepts and even strategies to improve my own development.
                            </p>
                            <p style="font-style: italic;">"It's hardware that makes a machine fast. It's software that makes a fast machine slow."</p>
                            <cite class="text-muted text-right text-bold">- Craig Bruce</cite>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h4 class="w3-opacity"><b>Birthday</b></h4>
                            <h5 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 31st, 1997</h5>
                            <p style="font-style: italic;">
                           The journey of knowledge might have a begginning, but no end! (Gill) </p>
                            I get it, its Corny.
                            <hr>
                        </div>
                    </div>
    
                    <!-- End Right Column -->
                </div>
             
                <!-- End Grid -->
            </div>
    
            <!-- End Page Container -->
        </div>

</body>

</html>